:root{
/*colors*/
--button-color:#00C697 ;
/*font sizes*/
--header-size: 34px;
--paragraph-size:20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
	display:flex;
    flex-wrap: wrap;
    color: white; 
    background-color: var(--button-color);
    padding: 10px 10px 10px;
}

li {
    display: inline;
    font-size: var(--paragraph-size);
}

#timer {
    padding-left: 1200px;
}

.title {
    font-size: var(--header-size);
}

.paragraph {
    font-size: var(--paragraph-size);
}

.start-button {
    background-color: var(--button-color);
    color: white;
    border:none;
    border-radius: 12px;
    padding: 15px 32px;
    font-size: var(--paragraph-size);
    margin-left: 47%;
}

.hide {
    display:none;
}

.submit-button {
    background-color: var(--button-color);
    color: white;
    border:none;
    border-radius: 12px;
    padding: 15px 32px;
    font-size: var(--paragraph-size);
}

.score-box {
    border-color: var(--button-color);
    border-radius: 12px;
    font-size: var(--paragraph-size);
    width: 400px;
    margin-left: 35%;
}

.format {
    text-align: center;
    padding:20px;
}

.alert {
    color: lightslategray;
}