:root{
/*colors*/
--button-color:#00C697 ;
/*font sizes*/
--header-size: 34px;
--paragraph-size:16px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
	display:flex;
    flex-wrap: wrap;
    color: white; 
    background-color: var(--button-color);
    padding: 10px 10px 10px;
}

li {
    display: inline;
    font-size: var(--paragraph-size);
}

#timer {
    margin-left: auto;
}

.format {
    text-align: center;
    padding:20px;
}

.title {
    font-size: var(--header-size);
}


.start-button {
    background-color: var(--button-color);
    color: white;
    border:none;
    border-radius: 12px;
    padding: 15px 32px;
    font-size: var(--paragraph-size);
}

.alert {
    color: lightslategray;
}